<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morningtech.mpay.core.dao.dict.DictCountryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.morningtech.mpay.core.model.dict.DictCountry">
        <id column="id" property="id" />
        <result column="lang" property="lang" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="update_time" property="updateTime" />
        <result column="phonecode" property="phonecode" />
        <result column="weight" property="weight" />
        <result column="is_default" property="isDefault" />
        <result column="list_order" property="listOrder" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, lang, name, code, update_time, phonecode, weight, is_default, list_order
    </sql>

</mapper>
